{{> header}}

<input type="hidden" id="token" value="{{token}}">

<nav>
    <div>
        <img src="/images/gobierno-de-mexico.svg" alt="">
        <a href="https://www.gob.mx/gobierno">Gobierno</a>
        <a href="https://www.gob.mx/tramites">Trámites</a>
    </div>
</nav>

<form style="display: grid;justify-content: center;" id="form">
    <div style="width: 50rem;">
        <h2>Administrador</h2>
        <h3>Inicio de Sesión</h3>
        <label for="usuario">Usuario</label>
        <input type="text" class="form-control" id="usuario">
        <label for="contrasena">Contraseña</label>
        <input type="password" class="form-control" id="contrasena">
        <br>
        <div style="display: grid;justify-content: end;">
            <input type="submit" class="btn btn-primary" value="Inicio de Sesión">
        </div>
        <br>
    </div>
</form>

<footer>
    <div style="padding-top: 40px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="/images/gobierno-de-mexico.svg">
            </div>
            <div class="col-sm-3">
                <p>Enlaces</p>

                <a href="" target="_blank">Participa</a><br>
                <a href="" target="_blank">Publicaciones Oficiales</a><br>
                <a href="" target="_blank">Marco Jurídico</a><br>
                <a href="" target="_blank">Plataforma Nacional de Transparencia</a><br>
                <a href="" target="_blank">Alerta</a><br>
                <a href="" target="_blank">Denuncia</a><br>

            </div>
            <div class="col-sm-3">
                <p>¿Qué es gob.mx?</p>
                <p>
                    Es el portal único de trámites, información y participación ciudadana. <a href="">Leer más</a>
                </p>
                <a href="">Portal de datos abiertos</a><br>
                <a href="">Declaración de accesibilidad</a><br>
                <a href="">Aviso de privacidad integral</a><br>
                <a href="">Aviso de privacidad simplificado</a><br>
                <a href="">Términos y Condiciones</a><br>
                <a href="">Política de seguridad</a><br>
                <a href="">Mapa de sitio</a><br>
            </div>
            <div class="col-sm-3">
                <a href="">Denuncia contra servidores públicos</a>
                <a href="">Síguenos en</a>
            </div>
        </div>
    </div>
    <div style="padding-top: 80px;"></div>
    <div class="pleca">
        <br>
        <br>
    </div>
</footer>
{{> footer}}